# print

`print()` in Python displays data to the user. It doesn’t change or affect values, variables, functions in any way and simply displays what you tell it to display.

### Syntax
1. Print works with parenthesis `print()` 
2. If you want to print a text, it will have to be in quotes: `print("Hello, World!")`

In [1]:
print("Hello, World!")

Hello, World!

3. You can print multiple values by separating them with commas.
4. You can use sep parameter inside your print function and this will separate each value with the separator you provided. `print("Model S" , "Model 3" , sep="--")`

In [3]:
name = 'Charles'
age = 42
height = 1.83

print(name, age, height, sep='--')

Charles--42--1.83

5. By default print() function enters a line value after each execution. You can avoid this if you’d like so by using end parameter. `print('No', end=' ')`

In [6]:
print("one", end='-')
print("tow", end='-')
print("three")

one-tow-three

### Syntax Errors

1. Using Python 2 style print.

In [8]:
print("Hello World")

Hello World

### Syntax Errors

2. Using addition on string and int/float

In [10]:
s = 'foo'
a = 2

print(s, a)

foo 2

### Syntax Errors

3. Quote inside print function

In [13]:
print("I'm wrong")

I'm wrong